			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					<b>Version</b> 2.4.13
				</div>
				<strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
				reserved.
			</footer>
		</div>
		<!-- ./wrapper -->
		<!-- REQUIRED JS SCRIPTS -->
		<!-- jQuery 3 -->
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<!-- Bootstrap 3.3.7 -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/adminlte.min.js"></script>
		<!-- DataTables -->
		<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
		<!-- SlimScroll -->
		<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<!-- FastClick -->
		<script src="/bower_components/fastclick/lib/fastclick.js"></script>
		<!-- Dropzone-->
		<script src="/stylesheets/dropzone.js"></script>	
		<!-- Date range picker -->
		<script src="/bower_components/moment/min/moment.min.js"></script>
		<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	
		<!-- <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script> -->
		<script src="/bower_components/bootstrap-datepicker-th/js/bootstrap-datepicker-thai.js"></script>
		<script src="/bower_components/bootstrap-datepicker-th/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/assets/indexScript.js"></script>
		<script src="/node_modules/ejs/ejs.min.js"></script>


		<script>
			// 	$(document).delegate( "#test3", "click", function() {
			// 	$.get("/products",function(html, status){
			// 	$(".content-wrapper").html(""));
			// 	});
			// } );
			 // $(function () {
			 // //Date picker
			 // $('#datetimepicker').datepicker({
			 // autoclose: true
			 // })
			 // //Date range picker
			 // $('#daterangepicker').daterangepicker()
			 // //Date range as a button
			 // $('#daterange-btn').daterangepicker(
			 // {
			 // ranges   : {
			 // 'Today'       : [moment(), moment()],
			 // 'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			 // 'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
			 // 'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			 // 'This Month'  : [moment().startOf('month'), moment().endOf('month')],
			 // 'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			 // },
			 // startDate: moment().subtract(29, 'days'),
			 // endDate  : moment()
			 // },
			 // function (start, end) {
			 // $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
			 // }
			 // )
			 // })
		</script>	
		<!-- Optionally, you can add Slimscroll and FastClick plugins.
			 Both of these plugins are recommended to enhance the
					 user experience. -->		
																																								
	</body>
</html>